<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculadora de massa gorda
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
<ion-img src = "../../assets/img/download.jpg" ></ion-img>
<h2>O que é massa gorda?<h2>
<h3>É tudo o que mais incomoda a maioria das pessoas, ou seja, a gordura em nosso corpo. Obviamente, a massa gorda tem uma função, o que traz problemas é o excesso. Essa gordura tem papel fundamental na proteção de nossos órgãos, envolvendo-os, mas, obviamente, em grande quantidade, provocará transtornos. Para tudo é preciso equilíbrio.<h3>

</ion-content>
<ion-footer>
</ion-footer>
